.delete-button {
    align-self: flex-end;
    background-color: #ff5722;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.delete-button:hover {
    background-color: #e64a19;
}