.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 16px;
}

search-btn {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #ff6600;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

search-btn:hover {
    background-color: #ff8533;
}